<div>
  <img style="width: 100%;" src="assets/images/background.jpg" alt="image">
  <div class="contact-icons-layout">
    <img class="icons" #insta src="assets/icons/Instagram.svg" (click)="windowRef.open('https://instagram.com/honey_pepper_extra_butter?igshid=1vvzdcxsrdp0t', '_blank')">
    <img class="icons" #linkedIn src="assets/icons/Linkedin.svg" (click)="windowRef.open('https://www.linkedin.com/in/wishdesign3', '_blank')">
    <img  #goddes src="assets/icons/goddess.svg">
    <img class="icons" #facebook src="assets/icons/Facebook.svg" (click)="windowRef.open('https://www.facebook.com/wishdesign3', '_blank')">
  </div>
</div>
